<!DOCTYPE html>
<html>

<head>
  <title>CrestwoodGPT</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
  <div class="chat-title">
    <i class="fas fa-robot robot-icon"></i>
    <h1>CrestwoodGPT</h1>
  </div>
  <div class="container chat-container">
    <div class="card chat-card">
      <div class="card-header chat-header">
        <div class="d-flex align-items-center">
          <div>
            <img id="profile-pic" src="{{ url_for('static', filename='Kyle.jpg') }}" alt="User" class="rounded-circle"
              style="width: 40px; height: 40px;">
          </div>
          <div class="ml-2">
            <span id="user-name">Kyle Andersen</span>
            <p id="user-prompt">Ask me a detailed question!</p>
          </div>
        </div>
      </div>
      <div class="card-body chat-body" id="messageFormeight"></div>
      <div class="card-footer">
        <form id="messageArea" class="input-group" action="/get" method="POST">
          <select name="model_select" id="model_select" class="form-control mr-2">
            <option value="gpt-3.5-turbo">MaxGPT</option>
            <option value="gpt-4-turbo">KyleGPT</option>
          </select>
          <input type="text" id="text" name="msg" placeholder="Say Hello, or ask just a question..." autocomplete="off"
            class="form-control">
          <div class="input-group-append">
            <button type="submit" id="send" class="btn btn-primary">
              <i class="fas fa-paper-plane"></i> Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $("#model_select").change(function () {
        $("#messageFormeight").empty();
        var selectedModel = $(this).val();
        var modelName = $("#model_select option:selected").text();
        var modelInfo = {
          "gpt-3.5-turbo": {
            "name": "Max Spillner",
            "profile_pic": "Max.jpg",
            "prompt": "Ask me anything!"
          },
          "gpt-4-turbo": {
            "name": "Kyle Andersen",
            "profile_pic": "Kyle.jpg",
            "prompt": "Ask me a detailed question!"
          }
        };

        var imgSrc = "{{ url_for('static', filename='') }}" + modelInfo[selectedModel]["profile_pic"];
        $("#profile-pic").attr("src", imgSrc);
        $("#user-name").text(modelInfo[selectedModel]["name"]);
        $("#user-prompt").text(modelInfo[selectedModel]["prompt"]);
      });

      $("#messageArea").on("submit", function (event) {
        event.preventDefault();

        const date = new Date();
        const hour = date.getHours();
        const minute = date.getMinutes();
        const str_time = hour + ":" + minute;
        var rawText = $("#text").val();

        var userHtml =
          '<div class="d-flex justify-content-end mb-4"><div class="message user-message">' +
          rawText +
          '<div class="message-time">' +
          str_time +
          '</div></div>';

        $("#text").val("");
        $("#messageFormeight").append(userHtml);

        $.ajax({
          data: {
            msg: rawText,
            model_select: $("#model_select").val()
          },
          type: "POST",
          url: "/get",
        }).done(function (data) {
          var botHtml =
            '<div class="d-flex justify-content-start mb-4"><div class="message bot-message">' +
            data.response +
            '  <button class="audio-play-btn" data-src="' + data.audio_url + '"><i class="fas fa-volume-up"></i></button>' +
            '<div class="message-time">' +
            str_time +
            "</div></div>";

          $("#messageFormeight").append(botHtml);
        });
      });

      // Event listener for play audio button
      $(document).on("click", ".audio-play-btn", function () {
        var audioSrc = $(this).data("src");
        var audio = new Audio(audioSrc);
        audio.play();
      });
    });

  </script>
</body>

</html>